# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
num_observations = chipo.shape[0]
print(num_observations)

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
num_columns = chipo.shape[1]
print(num_columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
print(chipo.columns.tolist())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
grouped = chipo.groupby('item_name')['quantity'].sum()
most_ordered = grouped.sort_values(ascending=False).head(1)
print(most_ordered)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
quantity = most_ordered.iloc[0]
print(quantity)

761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
most_choice = (
    chipo.groupby('choice_description', as_index=False)['quantity']
    .sum()
    .sort_values('quantity', ascending=False)
    .head(1)
)

print(most_choice)

   choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [ ]:
total_items = chipo['quantity'].sum()
print(total_items)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
print(chipo.item_price.dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$','')))

#### Step 13.c. Check the item price type

In [ ]:
print(chipo.item_price.dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f'Revenue was: ${revenue:.2f}')

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [ ]:
num_orders = chipo['order_id'].nunique()
print(num_orders)

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
order_revenue = chipo.groupby('order_id').apply(
    lambda df: (df.quantity * df.item_price).sum()
)
avg_revenue = order_revenue.mean()
print(avg_revenue)

21.39423118865867

/tmp/ipython-input-3799603352.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  order_revenue = chipo.groupby('order_id').apply(

### Step 17. How many different items are sold?

In [ ]:
num_unique_items = chipo['item_name'].nunique()
print(num_unique_items)

50